<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Paid-For</th>
      <th>Sent</th>
      <th colspan="3"></th>
      <th>Products</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.paidFor %></td>
        <td><%= order.sent %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><ul><% order.order_lines.each do |order_line| %>
          <li><%= order_line.product.name if order_line.product %></li>
        <% end %></ul></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
