<p id="notice"><%= notice %></p>

<p>
  <strong>Paidfor:</strong>
  <%= @order.paidFor %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @order.sent %>
</p>

<p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_lines.each do |order_line| %>
    <tr>
      <td><%= order_line.product.name if order_line.product %></td>
      <td><%= order_line.product.description if order_line.product %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
